<h1>Editing student</h1>

<%= render 'form' %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>

<script type="text/javascript">
  $(document).ready(function(){
    $('form.edit_student').each(function(n){
      Opal.Student.Widget.$new($(this)).$registerObserver({
          widget_unprocessable_entity_handler: function(event){
             console.log(JSON.stringify(event)); 
          }
        },
        {
          on: 'unprocessable_entity'
        }
      );
    });
  });
</script>