<h1>Editing student</h1>

<%= render 'form' %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>

<script type="text/javascript">
  $(document).ready(function(){
    $('form.edit_student').each(function(n){
      Opal.Student.Widget.$new($(this));
    });
  });
</script>