<h1>New student</h1>

<%= render 'form' %>

<%= link_to 'Back', students_path %>

<script type="text/javascript">
  $(document).ready(function(){
    var widget = Opal.Student.Widget.$new($('form.new_student'));
    widget.$registerObserver({
        widget_created_handler: function(redsonEvent){
          //window.location.href = redsonEvent.location();
        }
      },
      { on: 'created' }
    );
  });
</script>