<h1>New student</h1>

<%= render 'form' %>

<%= link_to 'Back', students_path %>

<script type="text/javascript">
  $(document).ready(function(){
    $('form.new_student').each(function(n){
      Opal.Student.Widget.$new($(this));
    });
  });
</script>